<html>
<head>
    <title>fancy app</title>
    <script>
        window.MAPBOX_ACCESS_TOKEN = "<%= process.env.MAPBOX_ACCESS_TOKEN %>";
    </script>
</head>
<body>
    <div id="app"></div>
    <script src="index.js"></script>
</body>
</html>