<html>
<head>
    <title>fancy app</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css" rel="stylesheet">
    <script>
        window.MAPBOX_ACCESS_TOKEN = "<%= process.env.MAPBOX_ACCESS_TOKEN %>";
    </script>
</head>
<body>
    <div id="app"></div>
    <script src="index.js"></script>
</body>
</html>